@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
  position: relative;
}

button {
  padding: 10px 30px;
  border-radius: 10px;
  color: var(--white-body-text, #fff);
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  border: none;
  cursor: pointer;
}

header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 96px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 5;
}

header > div:nth-child(1),
header > div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 60px;
}

header > div:nth-child(1) > a {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px;
  text-decoration: none;
}

header > div:nth-child(1) > button {
  background: var(--foundation-primary-p-700, #664efe);
}

header > svg:last-child {
  display: none;
}

.heroSection {
  height: calc(100vh - 90px);
  background: url("./assets/heroSectionImage.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filterOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(24, 6, 145, 0) 10.27%,
    rgba(74, 52, 215, 0.64) 50.52%,
    #664efe 85.98%
  );
  z-index: 0;
}

.heroSectionMain {
  z-index: 1;
  width: 80%;
  text-align: center;
}

.heroSectionMain > button {
  background: var(--foundation-secondary-s-700, #2ba792);
}

.heroSectionMain > h4 {
  color: #fff;
  text-align: center;
  font-family: Archivo;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
}

.whyYouShouldContainer {
  padding: 2rem 96px;
}

.whyYouShouldContainer > h1 {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
}

.whyYouShouldOptions {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.whyYouShouldOptions > div:nth-child(even) {
  margin-top: 200px;
}

.whyYouShouldOptions > div {
  display: flex;
  align-items: flex-start;
  gap: 49px;
  flex-basis: 45%;
}

.whyYouShouldOptions > div > div:nth-child(1) {
  width: 162px;
  height: 162px;
  background: var(--foundation-primary-p-100, #f7f5ff);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foundation-primary-p-700, #664efe);
  font-family: Archivo;
  font-size: 128px;
  font-style: italic;
  font-weight: 700;
  line-height: 36px;
  border-radius: 50%;
}

.whyYouShouldOptions > div > div:nth-child(2) {
  flex: 1;
}

.whyYouShouldOptions > div > div:nth-child(2) > img {
  width: 100px;
  height: 100px;
}

.whyYouShouldOptions > div > div:nth-child(2) > h4 {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.whyYouShouldOptions > div > div:nth-child(2) > p {
  color: var(--foundation-grey-g-500, #737373);
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.programmesInIse {
  padding: 85px 96px;
  background: var(--foundation-primary-p-10, #fbfaff);
}

.programmesInIse > h4 {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}

.programmesInIseOptions {
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 1rem 0;
}

.programmesInIseOptions::-webkit-scrollbar {
  display: none;
}

.programmesInIseOptions {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.programmesInIseOptions > div:nth-child(odd) {
  background: var(--foundation-primary-p-700, #664efe);
}

.programmesInIseOptions > div:nth-child(even) {
  background: var(--foundation-secondary-s-500, #61d6c2);
  transform: rotate(-4.36deg);
}

.programmesInIseOptions > div {
  width: 408px;
  height: 345px;
  padding: 66px 49px;
  border-radius: 30px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-basis: 408px;
}

.programmesInIseOptions > div > img {
  width: 80px;
  height: 80px;
}

.programmesInIseOptions > div > p {
  color: var(--white-body-text, #fff);
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.programmesInIseOptions > div > ul {
  color: var(--white-body-text, #fff);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (max-width: 1023px) {
  header {
    height: 49px;
    padding: 0 16px;
  }

  .button {
    font-size: 14px;
    line-height: 23px;
  }

  header > div:nth-child(1),
  header > div:nth-child(3) {
    display: none;
  }

  header > svg:last-child {
    display: block;
  }

  .heroSectionMain > h4 {
    font-size: 36px;
    line-height: 45px;
  }

  .heroSection {
    height: auto;
    padding: 90px 2rem;
  }

  .whyYouShouldContainer {
    padding: 80px 16px;
  }

  .whyYouShouldContainer > h1 {
    font-size: 31px;
    line-height: 40px;
  }

  .whyYouShouldOptions {
    gap: 40px;
  }

  .whyYouShouldOptions > div:nth-child(even) {
    margin-top: 0px;
  }

  .whyYouShouldOptions > div {
    gap: 21px;
    flex-basis: 100%;
  }

  .whyYouShouldOptions > div > div:nth-child(1) {
    width: 69px;
    height: 69px;
    font-size: 40px;
    line-height: 36px;
  }

  .whyYouShouldOptions > div > div:nth-child(2) > img {
    width: 80px;
    height: 80px;
  }

  .whyYouShouldOptions > div > div:nth-child(2) > h4 {
    font-size: 20px;
    line-height: 30px;
  }

  .whyYouShouldOptions > div > div:nth-child(2) > p {
    font-size: 16px;
    line-height: 25px;
  }

  .programmesInIse {
    padding: 71px 16px;
  }

  .programmesInIse > h4 {
    font-size: 31px;
    line-height: 40px;
  }

  .programmesInIseOptions > div {
    width: 303px;
    height: 261px;
    padding: 38px 31px;
  }

  .programmesInIseOptions > div > img {
    width: 60px;
    height: 60px;
  }

  .programmesInIseOptions > div > p {
    font-size: 20px;
    line-height: 30px;
  }

  .programmesInIseOptions > div > ul {
    font-size: 14px;
    line-height: 23px;
  }
}
