@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
  position: relative;
}

button {
  padding: 10px 30px;
  border-radius: 10px;
  color: var(--white-body-text, #fff);
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  border: none;
  cursor: pointer;
}

header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 96px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 5;
}

header > div:nth-child(1),
header > div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 60px;
}

header > div:nth-child(1) > a {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px;
  text-decoration: none;
}

header > div:nth-child(1) > button,
.sideNavInner > button {
  background: var(--foundation-primary-p-700, #664efe);
}

header > svg:nth-child(4) {
  display: none;
}

.sideNav {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  background-color: #fff;
  overflow: hidden;
  width: 0%;
  transition: 0.3s;
}

.sideNavInner {
  padding: 1.5rem 3rem;
}

.close {
  text-align: right;
}

.sideNavInner > a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  transition: all 0.3s ease-in-out;
  color: #2e2e2e;
}

.heroSection {
  height: calc(100vh - 90px);
  background: url("./assets/heroSectionImage.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filterOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(24, 6, 145, 0) 10.27%,
    rgba(74, 52, 215, 0.64) 50.52%,
    #664efe 85.98%
  );
  z-index: 0;
}

.heroSectionMain {
  z-index: 1;
  width: 80%;
  text-align: center;
}

.heroSectionMain > button {
  background: var(--foundation-secondary-s-700, #2ba792);
}

.heroSectionMain > h4 {
  color: #fff;
  text-align: center;
  font-family: Archivo;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
}

.whyYouShouldContainer {
  padding: 2rem 96px;
}

.whyYouShouldContainer > h1 {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
}

.whyYouShouldOptions {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.whyYouShouldOptions > div:nth-child(even) {
  margin-top: 200px;
}

.whyYouShouldOptions > div {
  display: flex;
  align-items: flex-start;
  gap: 49px;
  flex-basis: 45%;
}

.whyYouShouldOptions > div > div:nth-child(1) {
  width: 162px;
  height: 162px;
  background: var(--foundation-primary-p-100, #f7f5ff);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foundation-primary-p-700, #664efe);
  font-family: Archivo;
  font-size: 128px;
  font-style: italic;
  font-weight: 700;
  line-height: 36px;
  border-radius: 50%;
}

.whyYouShouldOptions > div > div:nth-child(2) {
  flex: 1;
}

.whyYouShouldOptions > div > div:nth-child(2) > img {
  width: 100px;
  height: 100px;
}

.whyYouShouldOptions > div > div:nth-child(2) > h4 {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.whyYouShouldOptions > div > div:nth-child(2) > p {
  color: var(--foundation-grey-g-500, #737373);
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.programmesInIse {
  padding: 85px 96px;
  background: var(--foundation-primary-p-10, #fbfaff);
}

.programmesInIse > h4 {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}

.programmesInIseOptions {
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 1rem 0;
}

.programmesInIseOptions::-webkit-scrollbar {
  display: none;
}

.programmesInIseOptions {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.programmesInIseOptions > div:nth-child(odd) {
  background: var(--foundation-primary-p-700, #664efe);
}

.programmesInIseOptions > div:nth-child(even) {
  background: var(--foundation-secondary-s-500, #61d6c2);
  transform: rotate(-4.36deg);
}

.programmesInIseOptions > div {
  width: 408px;
  height: 345px;
  padding: 66px 49px;
  border-radius: 30px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-basis: 408px;
}

.programmesInIseOptions > div > img {
  width: 80px;
  height: 80px;
}

.programmesInIseOptions > div > p {
  color: var(--white-body-text, #fff);
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.programmesInIseOptions > div > ul {
  color: var(--white-body-text, #fff);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.countAdownContainer {
  padding: 38px;
  text-align: center;
  background: var(--foundation-secondary-s-600, #38ccb3);
}

.countAdownContainer > h5 {
  color: #fff;
  font-family: Archivo;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 2rem;
}

.countdown > div {
  color: #fff;
  font-family: Archivo;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
}

.countdown > div > h2 {
  margin: 0;
}

.countdown > div > p:nth-child(2) {
  color: #fff;
  text-align: center;
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.subscribeSection {
  text-align: center;
  padding: 147px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subscribeSection > h4 {
  color: var(--foundation-grey-g-900, #2e2e2e);
  text-align: center;
  font-family: Archivo;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px;
  margin: 0.5rem 0;
}

.subscribeSection > p {
  color: var(--foundation-grey-g-900, #2e2e2e);
  text-align: center;
  font-family: Archivo;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.subscribeSection > form {
  padding: 80px 167px;
  border-radius: 20px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: var(--foundation-primary-p-50, #fbfaff);
}

.subscribeSection > form > input {
  padding: 15px 27px;
  color: var(--foundation-grey-g-600, #515151);
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid var(--foundation-primary-p-200, #eeebfe);
  background: #fff;
  display: block;
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
}

.subscribeButtonSection > button {
  background: var(--foundation-primary-p-700, #664efe);
  margin-top: 40px;
  width: 100%;
}

.subscribeButtonSection {
  width: 100%;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 88px 98px;
  background: var(--foundation-primary-p-700, #664efe);
  gap: 50px;
}

footer > div:nth-child(1) {
  flex-basis: 30%;
}

footer > div:nth-child(1) > img {
  width: 53px;
  height: 50px;
}

footer > div:nth-child(1) > p {
  color: var(--white-body-text, #fff);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

footer > div:not(footer > div:nth-child(1)) {
  flex: 1;
}

footer > div:not(footer > div:nth-child(1)) > h4 {
  color: #fff;
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

footer > div:not(footer > div:nth-child(1)) > a {
  color: #fff;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  display: block;
  text-decoration: none;
}

footer > div:last-child {
  display: flex;
  align-items: center;
  gap: 40px;
}

.ebookHero {
  display: flex;
  align-items: center;
  gap: 130px;
  border: 2px solid green;
  padding: 56px 80px;
  background: rgba(102, 78, 254, 0.98);
}

.ebookHero > div {
  flex-basis: 50%;
}

.ebookHero > div > p {
  color: var(--white-body-text, #fff);
  font-family: Archivo;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding: 0 20px;
  background: var(--foundation-primary-p-800, #4e34fe);
  margin: 0;
}

.ebookHero > div > h4 {
  color: var(--white-body-text, #fff);
  font-family: Archivo;
  font-size: 49px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  padding: 10px 20px;
  background: var(--logo-black, #011627);
  margin: 0;
}

.ebookHero > div > button,
.rightSection > form > button {
  margin-top: 40px;
  border-radius: 5px;
  border: 2px solid var(--logo-black, #011627);
  background: var(--foundation-tertiary-t-600, #ffd029);
  color: var(--logo-black, #011627);
}

.whatsInside {
  display: flex;
  align-items: center;
  gap: 56px;
  padding: 56px 80px;
}

.whatsInside > div {
  flex-basis: 50%;
}

.leftSection > h4 {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 39px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin: 0 0 0.5rem 0;
}

.leftSection > p {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

.rightSection {
  border-radius: 10px;
  border: 5px solid var(--logo-black, #011627);
  background: var(--white-body-text, #fff);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  position: relative;
}

.rightSection > div:nth-child(1) {
  width: 100%;
  min-height: 406px;
  position: absolute;
  border-radius: 10px;
  background: var(--logo-black, #011627);
  z-index: -1;
  left: -20px;
  bottom: -20px;
}

.rightSection > div:nth-child(2) {
  padding: 24px 40px;
  background: #2ba792;
}

.rightSection > div:nth-child(2) > h4 {
  color: var(--white-body-text, #fff);
  font-family: Archivo;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin: 0;
}

.rightSection > div:nth-child(2) > p {
  color: var(--white-body-text, #fff);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

.rightSection > form {
  padding: 40px;
}

.rightSection form > div {
  margin-bottom: 24px;
}

.rightSection > form > div > label {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.rightSection > form > div > input {
  width: 100%;
  height: 60px;
  font-family: Archivo;
  color: var(--foundation-grey-g-900, #2e2e2e);
  padding: 1rem;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;

  border-radius: 5px;
  border: 1px solid var(--foundation-grey-g-500, #737373);
}

.rightSection > form > div > input::placeholder {
  color: var(--foundation-grey-g-500, #737373);
}

.rightSection > form > div > input:focus {
  outline: none;
}

.whatsInsideList {
  list-style-type: none;
  margin-top: 2rem;
}

.whatsInsideList > li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: -40px;
  margin-bottom: 1rem;
}

.whatsInsideList > li > span:nth-child(1) {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #664efe;
  border-radius: 50%;
}

.whatsInsideList > li > p:nth-child(2) {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
}

.active {
  display: flex;
}

.modalInner {
  width: 70%;
  padding: 80px;
  border-radius: 10px;
  background: #fff;
}

.modalInner > h4 {
  color: var(--foundation-grey-g-900, #2e2e2e);
  text-align: center;
  font-family: Archivo;
  font-size: 39px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin: 1rem 0;
}

.modalInner > p {
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

.modalInner > p > span {
  font-weight: 500;
}

.modalInner > button {
  background: var(--foundation-primary-p-700, #664efe);
  margin-top: 40px;
}

@media screen and (max-width: 1023px) {
  header {
    height: 49px;
    padding: 0 16px;
  }

  .button {
    font-size: 14px;
    line-height: 23px;
  }

  header > div:nth-child(1),
  header > div:nth-child(3) {
    display: none;
  }

  header > svg:nth-child(4) {
    display: block;
  }

  .heroSectionMain > h4 {
    font-size: 36px;
    line-height: 45px;
  }

  .heroSection {
    height: auto;
    padding: 90px 2rem;
  }

  .whyYouShouldContainer {
    padding: 80px 16px;
  }

  .whyYouShouldContainer > h1 {
    font-size: 31px;
    line-height: 40px;
  }

  .whyYouShouldOptions {
    gap: 40px;
  }

  .whyYouShouldOptions > div:nth-child(even) {
    margin-top: 0px;
  }

  .whyYouShouldOptions > div {
    gap: 21px;
    flex-basis: 100%;
  }

  .whyYouShouldOptions > div > div:nth-child(1) {
    width: 69px;
    height: 69px;
    font-size: 40px;
    line-height: 36px;
  }

  .whyYouShouldOptions > div > div:nth-child(2) > img {
    width: 80px;
    height: 80px;
  }

  .whyYouShouldOptions > div > div:nth-child(2) > h4 {
    font-size: 20px;
    line-height: 30px;
  }

  .whyYouShouldOptions > div > div:nth-child(2) > p {
    font-size: 16px;
    line-height: 25px;
  }

  .programmesInIse {
    padding: 71px 16px;
  }

  .programmesInIse > h4 {
    font-size: 31px;
    line-height: 40px;
  }

  .programmesInIseOptions > div {
    width: 303px;
    height: 261px;
    padding: 38px 31px;
  }

  .programmesInIseOptions > div > img {
    width: 60px;
    height: 60px;
  }

  .programmesInIseOptions > div > p {
    font-size: 20px;
    line-height: 30px;
  }

  .programmesInIseOptions > div > ul {
    font-size: 14px;
    line-height: 23px;
  }

  .countAdownContainer {
    padding: 51 25px;
  }

  .countAdownContainer > h5 {
    font-size: 20px;
    line-height: 30px;
  }

  .countdown {
    gap: 15px;
    margin-top: 20px;
  }

  .countdown > div {
    font-size: 36px;
    line-height: 45px;
  }

  .countdown > div > h2 {
    margin: 0;
  }

  .countdown > div > p:nth-child(2) {
    font-size: 14px;
    line-height: 23px;
  }

  .subscribeSection {
    padding: 80px 16px;
  }

  .subscribeSection > h4 {
    font-size: 31px;
    line-height: 40px;
  }

  .subscribeSection > p {
    font-size: 16px;
    line-height: 25px;
  }

  .subscribeSection > form {
    padding: 50px 16px;
    width: 100%;
    border-radius: 5px;
  }

  .subscribeSection > form > input {
    padding: 14px 20px;
    color: var(--foundation-grey-g-600, #515151);
    font-size: 14px;
    line-height: 23px;
    margin: 10px 0;
  }

  .subscribeButtonSection > button {
    background: var(--foundation-primary-p-700, #664efe);
    margin-top: 40px;
    width: 100%;
  }

  .subscribeButtonSection {
    width: 100%;
  }

  footer {
    flex-direction: column;
    padding: 40px 16px;
    gap: 24px;
  }

  footer > div:nth-child(1) {
    flex-basis: 100%;
  }

  footer > div:nth-child(1) > img {
    width: 53px;
    height: 50px;
  }

  footer > div:nth-child(1) > p {
    font-size: 14px;
    line-height: 23px;
  }

  footer > div:not(footer > div:nth-child(1)) {
    flex: 1;
  }

  footer > div:not(footer > div:nth-child(1)) > h4 {
    font-size: 14px;
    line-height: 23px;
  }

  footer > div:not(footer > div:nth-child(1)) > a {
    font-size: 14px;
    line-height: 23px;
  }

  footer > div:last-child {
    gap: 24px;
  }

  .ebookHero {
    gap: 40px;
    padding: 40px 1rem;
    flex-direction: column;
  }

  .ebookHero > div {
    flex-basis: 100%;
  }

  .ebookHero > img {
    flex-basis: 100%;
  }

  .ebookHero > div > p {
    font-size: 18px;
    line-height: 27px;
    padding: 1rem;
  }

  .ebookHero > div > h4 {
    line-height: 40px;
    padding: 1rem;
    font-size: 31px;
  }

  .whatsInside {
    gap: 40px;
    padding: 1rem;
    flex-direction: column;
  }

  .whatsInside > div {
    flex-basis: 100%;
    width: 100%;
  }

  .leftSection > h4 {
    font-size: 31px;
    line-height: 40px;
  }

  .leftSection > p {
    font-size: 14px;
    line-height: 23px;
  }

  .rightSection > div:nth-child(1) {
    display: none;
  }

  .rightSection > div:nth-child(2) {
    padding: 1rem;
  }

  .rightSection > div:nth-child(2) > h4 {
    font-size: 18px;
    line-height: 27px;
  }

  .rightSection > div:nth-child(2) > p {
    font-size: 14px;
    line-height: 23px;
  }

  .rightSection > form {
    padding: 1rem;
  }

  .rightSection > form > div > label {
    font-size: 16px;
    line-height: 25px;
  }

  .rightSection > form > div > input {
    height: 50px;
    padding: 1rem;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
  }

  .whatsInsideList {
    margin-top: 1rem;
  }

  .whatsInsideList > li {
    gap: 0.5rem;
  }

  .whatsInsideList > li > p:nth-child(2) {
    font-size: 14px;
    line-height: 23px;
  }
}
